@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Archivo:ital,wght@0,100..900;1,100..900&family=Krub:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --primary-color: #3f4343;
    --secondary-color: #ffffff;
    --first-color: #FF4E00;
    --first-color-hover: #cd3a00;
    --second-color: #5677e2;
    --hr-color:#ccc;
}

*, body, html {
	font-family: "ABeeZee", sans-serif;
}